:root{
    --bg-color: #0A2E36;
    --text-primary: #F0F4F8;
    --text-secondary: #B2C9CC;
    --highlight-color: #3ED6C0;
    --button-color: #00A676;
    --card-bg: #123840;
    --border-color: #1F4E4E;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: var(--text-primary);
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: var(--bg-color);
}
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color:red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.navbar{
    display: flex;
    background-color: #00A676;
}
.navbar ul li{
    flex: 1;
    display: inline;
    justify-content: space-around;
    text-decoration: none;


}